<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" th:href="@{/css/adminStyle.css}" />
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
    <title>Insert title here</title>
  </head>
  <body>
    <header>
      <nav>
        <a href="/admin">LOGO</a>
        <a href="/admin/categories/list">Categorias</a>
        <a href="/admin/articles/list">Artigos</a>
        <a href="/admin">Usuarios</a>
      </nav>
    </header>
  </body>
</html>
