<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Insert title here</title>
  </head>
  <body>
    
    <div class="card">
      <img th:src="@{assets/user2.jpg}" alt="" />
      <div class="content__info">
        <div class="category">
          <a href="">Categiria</a>
        </div>
        <div class="content-title">
          <h1>Mapas com React usando Leaflet</h1>
        </div>
        <div class="autor">
          <p><span>Autor: </span>Thiago Marinho</p>
          <p class="time">data</p>
        </div>
      </div>
    </div>
    <div class="card">
      <img th:src="@{assets/user2.jpg}" alt="" />
      <div class="content__info">
        <div class="category">
          <a href="">Categiria</a>
        </div>
        <div class="content-title">
          <h1>Mapas com React usando Leaflet</h1>
        </div>
        <div class="autor">
          <p><span>Autor: </span>Thiago Marinho</p>
          <p class="time">data</p>
        </div>
      </div>
    </div>
    <div class="card">
      <img th:src="@{assets/user2.jpg}" alt="" />
      <div class="content__info">
        <div class="category">
          <a href="">Categiria</a>
        </div>
        <div class="content-title">
          <h1>Mapas com React usando Leaflet</h1>
        </div>
        <div class="autor">
          <p><span>Autor: </span>Thiago Marinho</p>
          <p class="time">data</p>
        </div>
      </div>
    </div>
    <div class="card">
      <img th:src="@{assets/user2.jpg}" alt="" />
      <div class="content__info">
        <div class="category">
          <a href="">Categiria</a>
        </div>
        <div class="content-title">
          <h1>Mapas com React usando Leaflet</h1>
        </div>
        <div class="autor">
          <p><span>Autor: </span>Thiago Marinho</p>
          <p class="time">data</p>
        </div>
      </div>
    </div>
    <div class="card">
      <img th:src="@{assets/user2.jpg}" alt="" />
      <div class="content__info">
        <div class="category">
          <a href="">Categiria</a>
        </div>
        <div class="content-title">
          <h1>Mapas com React usando Leaflet</h1>
        </div>
        <div class="autor">
          <p><span>Autor: </span>Thiago Marinho</p>
          <p class="time">data</p>
        </div>
      </div>
    </div>
  </body>
</html>
