<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div th:replace="admin/header"></div>
	<div class="container">
		<div class="card">
			<h4 class="container">Alterar Categoria</h4>
			<div class="card-body">
				<form action="#" th:action="@{/admin/categories/update/{id}(id=${category.id})}" th:object="${category}" method="post">
					<div class="form-group">
						<label for="name">Nome</label>
						<input type="text" class="form-control" id="name" th:field="*{name}"
							placeholder="Insira o nome da categoria">
					</div>
					<input type="hidden" th:field="*{slug}">
					<div class="form-group">
						<input type="submit" class="btn btn-primary btn-block" value="Alterar">
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>